/*Строка вкладок и навигации*/
/*
.system__tabs .el-tabs__header {
	background: rgb(221, 221, 230);
  	& [role="tab"] {
		border-left-color: rgb(191, 191, 208);
	}
}

.system__tabs .el-tabs__item.is-top.is-active.is-closable {
    background-color:rgb(236, 236, 241);
  	border-left-color: rgb(213, 213, 224);
  	border-bottom-color: rgb(236, 236, 241);
}*/

.system_mainBox {
    background-color:rgba(255, 255, 255, 1);
}

.nav-item:hover{
  	background:transparent;
    color:rgb(107, 195, 6);
}

.el-tabs__active-bar:has(~ .el-tabs__item.is-active:hover) {
	height:3px;
    padding:0px;
}

.el-tabs__item {
  	&.is-active {
    	color: #198aff;
    }
  	&:hover {
    	color: #198aff;
  	}
}

/*редактор интерфейсов*/
/*
.interface_editor .header,
.interface_editor .panel{
    background-color:rgb(236, 236, 241)!important;
  	& .icon_button:hover:not(.mini) {
    	background-color:rgb(255, 255, 255);
	}
}
*/
/*редактор объектов*/
/*
.object_editor {
	& .tool_box {
    	background-color:rgb(236, 236, 241);
    }
  	& .el-scrollbar__wrap {
    	background-color:rgb(255, 255, 255);
	}
}
*/

/*контейнер с вкладками*/
.cont_tab .tabs_container {
    font-style: normal;
	font-weight: normal;
	font-size: 14px;
  	& .tab {
    	min-height: 35px;
    	height: auto !important;
   		width: auto !important;
    	color: #656769;
		font-weight: 400;
     	text-align: left;
		transition: color 0.08s cubic-bezier(0.645, 0.045, 0.355, 1);
    	&:hover {
        	color: rgba(20, 149, 255, .75);
    	}
    	&.active {
			color: #5E666E;
			font-weight: 600;
      	}
	}
	&.position_top{
		background-color: rgba(240, 240, 240, 0);
		& .tab{
      		white-space: nowrap;
      		padding: 10px 20px 10px 20px;
  			border-bottom: 1px solid #ebeef5;	
      		&.active {
				border-bottom: 3px solid rgba(20, 149, 255, 0.35);
			}
		}
  	}
  	&.position_right{
      	width:140px;
		background-color: rgba(240, 240, 240, 1);
		&  .tab{
      	padding: 30px 0px 10px 10px;
  		border-left: 1px solid #ebeef5;	
      		&.active {
				border-left: 5px solid rgba(20, 149, 255, 0.35);
			}
      	}
	}
    &.position_left{
      	width:140px;
		background-color: rgba(240, 240, 240, 1);
		&  .tab{
      	padding: 30px 0px 10px 10px;
  		border-right: 1px solid #ebeef5;	
      		&.active {
				border-right: 5px solid rgba(20, 149, 255, 0.35);
			}
      	}
	}
}

/*выравнивание полей*/
.el-form-item {
    margin-bottom: 0;
}

.el-form-item__content .xref_field.vue-treeselect, 
.el-form-item__label .xref_field_label{
	top:0
}

/*деревья*/
.derevo {
	background-color:rgb(255, 255, 255);
/* Элементы с role = "group" наследуют ширину родительского элемента */
	& [role="group"] {
    	width: 100%; /* Устанавливаем ширину на 100% от родителя */
    	border-left: 2px solid rgb(95,166,221); /* Выделение левого края синим цветом */
	}
/* Элементы с role = "treeitem" уменьшаются по ширине слева */
	& [role="treeitem"] {
    	padding-left: calc(18px - 11px); /* Уменьшаем отступ слева */
	}
	& .content.custom_scrollbar {
		overflow: hidden;
    } 
	& .a-tree {
		height:calc(100% - 60px);
  		& .el-tree {
          	padding-top: 5px !important;
            height: 100%;
    		overflow: hidden auto;
		}  
		& .background {
          	background:RGB(255, 255, 255);
			z-index: 3000 !important;
  		}
    	& .header_fixed{
			position:relative;
			/display: none;
      		& .search_input {
				width: calc(100% - 140px) !important;
    			padding: 0px !important; 
    			margin: 5px 10px 0px 10px !important;
    			float: none !important;
    			min-width: 200px;
			}
		}
  	}
}

/*главный контейнер карточки*/
.cont_body {
	background:rgba(255, 255, 255, 1);
}

/*информационные контейнеры*/
.cont {
	background:#fff;
	border: 1px solid rgba(220,230,245,1);
	border-radius:8px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  	.content {
      	overflow:hidden;
  	}
}
/*контейнер-flexbox-row*/
.flex-cont>.content {
	display:flex !important;
	justify-content: space-around;
}
.flex-item {
  	position: relative !important;
  	width: calc((100% - 2*40px)/2) !important;
    left:unset !important;
  	background: rgba(230,240,250,.5);
	border: 1px solid rgba(220,230,245,1);
	border-radius:8px;
}
/*заголовок первого уровня*/
.h1 {
	overflow:hidden;
	cursor:default;
	color: rgb(28, 28, 37);
}

/*заголовок второго уровня*/
.h2 {
	overflow:hidden;
	cursor:default;
	color: rgb(44, 44, 60);
}

/* +++++ ag-theme-balham +++++++ */

.ag-theme-balham .ag-cell {
border: 1px solid #b3b3b3 !important;
}

.ag-theme-balham .ag-header {
background-color: rgba(80, 130, 230, 1) !important;
}

.ag-theme-balham .ag-cell {
border: 1px solid #b3b3b3 !important;
}

.ag-theme-balham .ag-row-odd{
background-color: rgba(80, 130, 230, 0.1) !important;
}
.ag-theme-balham .ag-row-selected {
background: rgba(80, 130, 230, 0.2) !important;
}

.ag-theme-balham .ag-row-selected:before {
background: rgba(80, 130, 230, 0.2) !important;
}
.ag-theme-balham .ag-root:not(.ag-context-menu-open) .ag-body-viewport:not(.ag-has-focus) .ag-cell-range-selected-1:not(.ag-cell-inline-editing){
background: rgba(80, 130, 230, 0.2) !important;
}
.ag-theme-balham .ag-row-hover {
background: rgba(80, 130, 230, 0,35) !important;
}

.ag-theme-balham .ag_grid_row .ag-cell.ag-cell-focus.ag-cell-range-selected{
background: rgba(80, 130, 230, 0.35) !important;
}

.ag-theme-balham .ag-header-row .ag-header-cell-text, 
.ag-theme-balham .ag-header-row .ag-header-cell .ag-icon
{
color: rgba(255, 255, 255, 1) !important;
}

/* ----- ag-theme-balham ------ */

.ag-header-cell-label{
justify-content: center;
}

.ag-cell{
text-align: left;
}

.registry .toolbar-box{
	padding:10px 21px !important;
}

.ag-root-wrapper.ag-layout-normal {
    //border-radius: 15px;
}

.el-button--primary.is-plain {
    width: 220px;
    color: #1495FF;
    background: rgba(20, 149, 255, 0.25);
    border: 1px solid rgba(20, 149, 255, 0.3);
}

.avias_button .el-button {
    width: 220px;
    color: #1495FF;
    background: rgba(20, 149, 255, 0.25);
    border: 1px solid rgba(20, 149, 255, 0.3);
}
.avias_button2 .el-button {
    color: #1495FF;
    background: rgba(20, 149, 255, 0.25);
    border: 1px solid rgba(20, 149, 255, 0.3);
}
 .avias_button_hover .el-button:hover {
    color: #ecf5ff;
 background: #409eff;
}

